:root {
  --red-first: #C21010;
  --red-second: #E64848;
  --beige: #fffdeb;
  --green: #CFE8A9;
  --dark-green-status: #184D47;
  --green-status: #96BB7C;
  --yellow-status: #FAD586;
  --red-status: #C64756;
}

.btn {
  align-items: center;
  background: transparent;
  text-decoration: none;
  border: none;
  color: white;
  padding: 0 20px;
  border-radius: 4px;
  color: #3e3e3e;
  cursor: pointer;
  display: inline-flex;
  font-size: 1em;
  font-weight: 900;
  height: 50px;
  justify-content: center;
  margin: 3px 0;
  min-width: 100px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  transition: 0.1s;
}

.button-navbar {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.25em;
  color: #3e3e3e;
  cursor: pointer;
}

.cart-btn {
  background-color: var(--red-first);
  bottom: 20px;
  color: white;
  font-size: 0.8em;
  height: 40px;
  min-width: 80px;
  padding: 0 15px;
  position: fixed;
  right: 20px;
  z-index: 2;
}

.primary_button {
  background-color: var(--red-first);
  border-radius: 4px;
  box-shadow: 4px 3px 7px 0 rgba(150, 150, 150, 0.21);
  color: white;
  cursor: pointer;
  font-weight: 900;
  padding: 8px 5px;
  width: 100%;
}

.btn-details {
  background-color: var(--red-first);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.3em;
}

.primary_button:disabled, .btn-details:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.primary_button:active, .btn-details:active {
  background-color: var(--red-second);
}

.button-register {
  background: none;
  border: none;
  color: var(--red-first);
  cursor: pointer;
  font-weight: 900;
}

.red_button {
  background-color: var(--red-first);
  color: white;
}

.red_button:disabled {
  background-color: #C64756;
  cursor: not-allowed;
}

.plus-minus_btn {
  font-size: large;
  color: white;
  height: auto;
  margin: 0;
  min-width: auto;
}

.plus_btn {
  border-radius: 0 5px 5px 0;
}

.minus_btn {
  border-radius: 5px 0 0 5px;
}
