.input-card[ type = 'number' ]::-webkit-inner-spin-button { appearance: none; }

.input-card[ type = 'number' ] {
  appearance: textfield;
}

.card-products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-product {
  align-items: center;
  border: solid 2px rgb(244, 244, 244);
  border-radius: 7px;
  box-shadow: 5px 5px 10px -2px rgba(150, 150, 150, 0.24);
  margin: 60px auto;
}

.input-card {
  font-size: large;
  font-weight: 500;
  padding: 6px 8px;
  text-align: center;
  width: 50px;
}

.card-product img {
  height: 300px;
  margin: 15px;
  max-width: 300px;
}

.price {
  margin: 15px;
  position: absolute;
}

.plus-minus_div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.product_name {
  text-align: center;
}

.name-input_product {
  background-color: #fdedee;
  box-shadow: inset 0 5px 10px -2px rgb(150 150 150 / 24%);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px 0;
}
