:root {

  --red-first: #c21010;

  --red-second: #e64848;

  --beige: #fffdeb;

  --green: #cfe8a9;

  --dark-green-status: #184d47;

  --green-status: #96bb7c;

  --yellow-status: #fad586;

  --red-status: #c64756;
}

.header {
  background-color: rgb(244, 244, 244);
  width: 100%;
}

.nav-bar {
  align-items: center;
  background-color: rgb(244, 244, 244);
  column-gap: 16px;
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  max-width: 1278px;
  padding: 20px 16px;
  position: relative;
}

.user-navbar {
  align-items: center;
  color: var(--red-first);
  display: flex;
  gap: 1em;
  justify-content: center;
}

.nav-bar img {
  width: 88px;
}

.nav-buttons {
  margin-right: 350px;
}
