* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page, .checkout, .products {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: -apple-system , Segoe UI , Roboto , Droid Sans , sans-serif;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}
